In [1]:
import pandas as pd

## Series

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['linha ' + str(i) for i in range(5)]

In [6]:
index

['linha 0', 'linha 1', 'linha 2', 'linha 3', 'linha 4']

In [7]:
s = pd.Series(data, index)

In [8]:
s

linha 0    1
linha 1    2
linha 2    3
linha 3    4
linha 4    5
dtype: int64

# Dataframe

In [9]:
dado = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
dado

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
df1 = pd.DataFrame(data)

In [12]:
df1

   0
0  1
1  2
2  3
3  4
4  5

In [13]:
index = ['linha ' + str(i) for i in range (3)]

In [14]:
index

['linha 0', 'linha 1', 'linha 2']

In [15]:
df1 = pd.DataFrame(data = data, index = index)

ValueError: Shape of passed values is (5, 1), indices imply (3, 1)

In [ ]:
df1

In [ ]:
columns = ['col ' + str(i) for i in range(3)]

In [ ]:
df1 = pd.DataFrame(data = dado, index = index, columns = columns)

In [ ]:
df1

In [ ]:
df1[df1>2] = 'a'

In [ ]:
d1

In [ ]:
df1

In [16]:

alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [17]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False